{% extends "inventory/base.html" %}
{% block title %}My Suppliers{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>My Suppliers</h2>
    <a href="{% url "add_supplier" %}" class="btn btn-primary mb-3">Add New Supplier</a>

    <ul class="list-group">
        {% for supplier in suppliers %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ supplier.company_name }}</strong><br>
                    {{ supplier.email }} | {{ supplier.phone }}
                </div>
                {% comment %} <div>
                    <a href="{% url 'supplier-update' supplier.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'supplier-delete' supplier.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </div> {% endcomment %}
            </li>
        {% empty %}
            <li class="list-group-item">No suppliers yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
