{% extends "inventory/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5 ">

    {% if form.errors %}
        <div class="alert alert-danger w-25 mx-auto">
            <ul class="mb-0">
                {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
  {% endif %}

  <form method="post" class="col-md-4 shadow-lg px-5 py-5 mx-auto">
    <h2 class="mb-4 ">Set a New Password</h2>
    {% csrf_token %}

    <div class="mb-3">
      <label for="id_new_password1" class="form-label">New Password</label>
      {{ form.new_password1|add_class:"form-control" }}
    </div>

    <div class="mb-3">
      <label for="id_new_password2" class="form-label">Confirm New Password</label>
      {{ form.new_password2|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-success">Change Password</button>
  </form>
</div>
{% endblock %}
